<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pingTransitionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F942F45A1CEF051B00BE88ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F942F4731CEF051B00BE88ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F942F47E1CEF051B00BE88ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
