<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeepDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9ECA3A11CF6C06D004C291E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9ECA3BA1CF6C06D004C291E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9ECA3C51CF6C06D004C291E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
