<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimatedCurvePractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9332D161D2A04B2008B1E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9332D2F1D2A04B3008B1E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9332D3A1D2A04B3008B1E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
